<form [formGroup]="addressStepFormGroup">
    <div class="grid grid-cols-1">
        <mat-form-field>
            <mat-label>Given Names</mat-label>
            <input matInput placeholder="Given names" formControlName="firstCtrl" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Family Name</mat-label>
            <input matInput placeholder="Family name" formControlName="firstCtrl" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput formControlName="firstCtrl" placeholder="Milan" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Postcode</mat-label>
            <input matInput formControlName="firstCtrl" placeholder="20150" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput formControlName="firstCtrl" placeholder="Italy" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="firstCtrl" placeholder="Via Roma, 15" required>
        </mat-form-field>

        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
    </div>
</form>