<form [formGroup]="shippingStepFormGroup">
    <div class="grid grid-cols-6 gap-4 py-5">
        <!-- TODO: create common input field -->
        <div class="justify-self-center col-start-2 col-span-4 pb-10">
            <div class="font-bold">Insert you shipping details</div>
        </div>

        <mat-form-field class="col-start-2 col-span-2">
            <mat-label>Given Names</mat-label>
            <input matInput placeholder="Mario" formControlName="givenNamesCtrl" required>
            @if (shippingStepFormGroup.controls.givenNamesCtrl.hasError('required')) {
            <mat-error>Given names are required</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="col-start-4 col-span-2">
            <mat-label>Family Names</mat-label>
            <input matInput placeholder="Rossi" formControlName="familyNamesCtrl" required>
            @if (shippingStepFormGroup.controls.familyNamesCtrl.hasError('required')) {
            <mat-error>Family names are required</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="col-start-2 col-span-2">
            <mat-label>City</mat-label>
            <input matInput formControlName="cityCtrl" placeholder="Milan" required>
            @if (shippingStepFormGroup.controls.cityCtrl.hasError('required')) {
            <mat-error>City is required</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="col-start-4 col-span-2">
            <mat-label>Postcode</mat-label>
            <input matInput formControlName="postalCodeCtrl" placeholder="20150" required>
            @if (shippingStepFormGroup.controls.postalCodeCtrl.hasError('required')) {
            <mat-error>Postal code is required</mat-error>
            }
            @if (shippingStepFormGroup.controls.postalCodeCtrl.hasError('pattern')) {
            <mat-error>Postal code is not valid</mat-error>
            }
            @if (shippingStepFormGroup.controls.postalCodeCtrl.hasError('minlength')) {
            <mat-error>Postal code length should be 5</mat-error>
            }
            @if (shippingStepFormGroup.controls.postalCodeCtrl.hasError('maxlength')) {
            <mat-error>Postal code length should be 5</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="col-start-2 col-span-2">
            <mat-label>Country</mat-label>
            <mat-select formControlName="countryCtrl">
                @for (country of countries; track country) {
                <mat-option [value]="country.value">{{country.viewValue}}</mat-option>
                }
            </mat-select>
            @if (shippingStepFormGroup.controls.countryCtrl.hasError('required')) {
            <mat-error>Country is required</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="col-start-4 col-span-2">
            <mat-label>Address</mat-label>
            <input matInput formControlName="addressCtrl" placeholder="Via Roma, 15" required>
            @if (shippingStepFormGroup.controls.addressCtrl.hasError('required')) {
            <mat-error>Address is required</mat-error>
            }
        </mat-form-field>
    </div>
</form>